<nav>
    <div class = 'site-title'>
        <a href="/"><h1>BLog ninja</h1></a>
        <p>A NEt ninja site</p>
    </div>
    <ul>
        <li><a href="/"><h4>Blogs</h4></a></li>
        <li><a href="/about"><h4>About</h4></a></li>  
        <li><a href="/blogs/create"><h4>New Blog</h4></a></li>
    </ul>
</nav>
