<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class = 'about content'>
        <h2>About us</h2>
        <p>Quis est ad esse consequat. Lorem eu commodo culpa qui sunt dolore quis. Proident ex ipsum ipsum ad sunt tempor ad. Ad laboris mollit magna amet. Aliquip occaecat non deserunt non reprehenderit labore nulla proident proident non Lorem. Nisi sint laboris tempor pariatur dolor dolor aliquip quis labore excepteur amet ad dolor. Qui sit do labore nostrud qui nisi eu nisi dolore sint.</p>
        <p>Quis est ad esse consequat. Lorem eu commodo culpa qui sunt dolore quis. Proident ex ipsum ipsum ad sunt tempor ad. Ad laboris mollit magna amet. Aliquip occaecat non deserunt non reprehenderit labore nulla proident proident non Lorem. Nisi sint laboris tempor pariatur dolor dolor aliquip quis labore excepteur amet ad dolor. Qui sit do labore nostrud qui nisi eu nisi dolore sint.</p>
        <p>Quis est ad esse consequat. Lorem eu commodo culpa qui sunt dolore quis. Proident ex ipsum ipsum ad sunt tempor ad. Ad laboris mollit magna amet. Aliquip occaecat non deserunt non reprehenderit labore nulla proident proident non Lorem. Nisi sint laboris tempor pariatur dolor dolor aliquip quis labore excepteur amet ad dolor. Qui sit do labore nostrud qui nisi eu nisi dolore sint.</p>
    </div>

    <%- include('partials/footer.ejs') %>

</body>
</html>